@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Cagliostro&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Login */
.formulario-login {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.formulario-login label {
    font-size: 16px;
    color: hsl(0, 0%, 20%);
    margin-bottom: 5px;
}

.formulario-login input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.formulario-login input:focus {
    border-color: hsl(215, 78%, 36%);
    outline: none;
}

/* Metodologia */
.metodologia {
    text-align: center;
    padding: 50px;
    background-color: hsl(215, 78%, 41%);
}

.metodologia h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
    color: hsl(0, 0%, 100%);
}

.linha-do-tempo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.etapa-linha-do-tempo {
    background: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease;
    width: auto;
    margin: 0 auto;
}

.etapa-linha-do-tempo:hover {
    transform: translateY(-10px);
}

.etapa-linha-do-tempo .icone img {
    padding: 10px;
}

.etapa-linha-do-tempo h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 10%);
}

.etapa-linha-do-tempo p {
    font-size: 16px;
    color: hsl(0, 0%, 20%);
    line-height: 1.5;
}

/* Testemunhos */
.depoimentos {
    padding: 50px;
    text-align: center;
    background-color: hsl(206, 41%, 95%);
}

.depoimentos h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    color: hsl(0, 0%, 10%);
    margin-bottom: 30px;
}

.grade-depoimentos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cartao-depoimento {
    background-color: hsl(0, 0%, 100%, 0.8);
    width: 40vw;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.cartao-depoimento img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.cartao-depoimento p {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 20%);
}

.cartao-depoimento span {
    font-size: 20px;
    font-weight: bold;
    color: hsl(215, 78%, 36%);
}

.depoimentos button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 70%);
    border: none;
    padding: 10px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.depoimentos button:hover {
    background-color: hsl(0, 0%, 95%);
}

/* Seção Sobre */
.sobre {
    padding: 50px;
    background-color: hsl(206, 41%, 95%);
    text-align: center;
}

.sobre h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    color: hsl(215, 78%, 36%);
    margin-bottom: 30px;
}

.sobre p {
    font-size: 18px;
    color: hsl(0, 0%, 20%);
    line-height: 1.5;
    max-width: 50vw;
    margin: 0 auto 20px;

}

/* Estilização para Dúvidas Frequentes */
.duvidas {
    padding: 50px;
    background-color: hsl(215, 78%, 36%);
    text-align: center;
}

.duvidas h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 30px;
}

.faq {
    max-width: 50vw;
    margin: 0 auto;
    text-align: left;
}

.faq details {
    background-color: hsl(215, 78%, 46%, 0.8);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    margin: 15px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.faq details:hover {
    background-color: hsl(215, 78%, 51%, 0.8);
    transform: scale(1.02);
}

.faq summary {
    font-size: 20px;
    font-weight: bold;
    color: hsl(48, 100%, 67%);
    margin: 10px;
    outline: none;
}

.faq summary:hover {
    color: hsl(48, 100%, 72%);
}

.faq details[open] summary {
    color: hsl(48, 100%, 72%);
}

.faq details p {
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    margin: 10px;
    line-height: 1.5;
}

/* Seção Planos para Empresas */
.planos {
    padding: 50px;
    background-color: hsl(238, 69%, 22%);
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.planos h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
}

.planos p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.planos ul {
    list-style-type: square;
    margin: 0 auto;
    padding: 10px;
    max-width: 40vw;
    text-align: left;
}

.planos ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: hsl(48, 100%, 67%);
}