/* Geral */
* {
    font-family: "Anaheim", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
}

/* Animações */

.animar-ao-rolar {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animar-ao-rolar.visivel {
    opacity: 1;
    transform: translateY(0);
}

/* Cabeçalho */
header {
    background-color: hsl(215, 78%, 36%);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 60px;
    border-radius: 40%;
    margin-top: 5px;
}

header nav a {
    font-size: 18px;
    margin: 0px 10px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

header nav a:hover {
    color: hsl(0, 0%, 90%);
    cursor: pointer;
}

header nav .botao {
    background-color: hsl(48, 100%, 67%);
    color: hsl(215, 78%, 36%);
    padding: 10px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
}

header nav .botao:hover {
    background-color: hsl(48, 100%, 72%);
    color: hsl(215, 78%, 41%);
}

/* Popup de Login */
.popup {
    display: none;
    /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escuro semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.conteudo-popup {
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.conteudo-popup h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 24px;
    color: hsl(215, 78%, 36%);
    margin-bottom: 20px;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.formulario-login label {
    font-size: 16px;
    color: hsl(0, 0%, 20%);
    margin-bottom: 5px;
}

.formulario-login input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.formulario-login input:focus {
    border-color: hsl(215, 78%, 36%);
    outline: none;
}

/** Botão de login */
.botao-popup {
    background-color: hsl(48, 100%, 67%);
    color: hsl(0, 0%, 10%);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    align-self: center;
}

.botao-popup:hover {
    background-color: hsl(48, 100%, 72%);
    color: hsl(0, 0%, 0%);
}

.botao-fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.botao-fechar:hover {
    color: hsl(0, 0%, 90%);
}

/* Mensagens Flash */
.flash-messages {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

/* Estilização para mensagens flash */
.flash-message {
    padding: 10px 15px;
    margin: 10px auto;
    max-width: 600px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

/* Mensagem de sucesso */
.flash-message.success {
    background-color: hsl(120, 40%, 85%);
    color: hsl(120, 40%, 20%);
    border: 1px solid hsl(120, 40%, 50%);
}

/* Mensagem de erro */
.flash-message.error {
    background-color: hsl(0, 70%, 90%);
    color: hsl(0, 70%, 30%);
    border: 1px solid hsl(0, 70%, 50%);
}

/* Mensagem de informação */
.flash-message.info {
    background-color: hsl(210, 60%, 90%);
    color: hsl(210, 60%, 30%);
    border: 1px solid hsl(210, 60%, 50%);
}

/* Hero */
.hero {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-hero {
    background-color: hsl(206, 41%, 97%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: auto;
}

.conteudo-hero img {
    object-fit: contain;
    flex-basis: 40%;
    height: fit-content;
    width: 100%;
    ;
}

.conteudo-hero .texto-hero {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding-right: 30px;
}

.conteudo-hero h1 {
    font-family: "Cagliostro", sans-serif;
    font-size: 40px;
    color: hsl(0, 0%, 10%);
    margin-bottom: 20px;
}

.hero p {
    width: 60%;
    font-size: 20px;
    color: hsl(0, 0%, 20%);
    margin-bottom: 20px;
}

.botao-link {
    background-color: hsl(48, 100%, 67%);
    color: hsl(0, 0%, 10%);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
}

.botao-link:hover {
    background-color: hsl(48, 100%, 72%);
    color: hsl(0, 0%, 0%);
}

/* Cursos */
.cursos {
    padding: 40px;
    text-align: center;
    background-color: hsl(215, 78%, 36%);
}

.cursos h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-bottom: 20px;
}

.cartoes-cursos {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cartao-curso {
    background-color: hsl(238, 69%, 22%);
    color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    height: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Adiciona transição suave */
}

.cartao-curso:hover {
    transform: scale(1.05);
    /* Aumenta o tamanho em 5% */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    /* Aumenta a sombra para dar destaque */
}

.cursos .mensagem-aviso {
    display: none;
    color: hsl(48, 100%, 67%);
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

.cartao-curso h3 {
    font-family: "Cagliostro", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.cartao-curso p {
    text-align: left;
    font-size: 18px;
    margin-bottom: 15px;
}

.cartao-curso button {
    background-color: hsl(48, 100%, 67%);
    color: hsl(102, 16%, 16%);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.cartao-curso button:hover {
    background-color: hsl(48, 100%, 72%);
}

/* Metodologia */
.metodologia {
    text-align: center;
    padding: 50px 20px;
    background-color: hsl(215, 78%, 41%);
}

.metodologia h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 2rem;
    margin-bottom: 30px;
    color: hsl(0, 0%, 100%);
}

.linha-do-tempo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.etapa-linha-do-tempo {
    flex: 1 1 calc(25% - 20px);
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.etapa-linha-do-tempo:hover {
    transform: translateY(-10px);
}

.etapa-linha-do-tempo .icone img {
    padding: 10px;
}

.etapa-linha-do-tempo h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: hsl(0, 0%, 10%);
}

.etapa-linha-do-tempo p {
    font-size: 0.9rem;
    color: hsl(0, 0%, 20%);
    line-height: 1.5;
}

/* Testemunhos */
.depoimentos {
    padding: 40px;
    text-align: center;
    background-color: hsl(206, 41%, 97%);
}

.depoimentos h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    color: hsl(0, 0%, 10%);
    margin-bottom: 30px;
}

.grade-depoimentos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cartao-depoimento {
    background-color: hsl(0, 0%, 100%, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.cartao-depoimento img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.cartao-depoimento p {
    font-style: italic;
    margin-bottom: 10px;
    color: hsl(0, 0%, 20%);
}

.cartao-depoimento span {
    font-weight: bold;
    color: hsl(215, 78%, 36%);
}

.depoimentos button {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 20%);
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.depoimentos button:hover {
    background-color: hsl(0, 0%, 90%);
}

/* Contato */
.contato {
    padding: 40px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

.contato h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    color: hsl(0, 0%, 10%);
    margin-bottom: 30px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grupo-formulario {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.grupo-formulario label {
    font-size: 16px;
    color: hsl(0, 0%, 20%);
    margin-bottom: 5px;
}

.grupo-formulario input,
.grupo-formulario textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.grupo-formulario input:focus,
.grupo-formulario textarea:focus {
    border-color: hsl(215, 78%, 36%);
    outline: none;
}

.botao-contato {
    background-color: hsl(48, 100%, 67%);
    color: hsl(0, 0%, 10%);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    align-self: center;
}

.botao-contato:hover {
    background-color: hsl(48, 100%, 72%);
}

/* Popup de Confirmação */
.popup .conteudo-popup h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 24px;
    color: hsl(215, 78%, 36%);
    margin-bottom: 10px;
}

.popup .conteudo-popup p {
    font-size: 16px;
    color: hsl(0, 0%, 20%);
    margin-bottom: 20px;
}

.popup .botao-fechar:hover {
    color: hsl(0, 0%, 90%);
}

.popup .botao-fechar-cadastro {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

/* Rodapé */
footer {
    background-color: hsl(0, 0%, 10%);
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer .conteudo-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer nav {
    display: flex;
    gap: 15px;
}

footer nav a {
    color:hsl(210, 60%, 90%);
    text-decoration: none;
    font-size: 14px;
}

footer nav a:hover {
    text-decoration: underline;
    color:hsl(210, 60%, 95%);
}

/* Página de cadastro*/
.cadastro {
    padding: 40px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

.cadastro h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    color: hsl(215, 78%, 36%);
    margin-bottom: 30px;
}

.formulario-cadastro {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grupo-cadastro {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.grupo-cadastro-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.grupo-cadastro label {
    font-size: 18px;
    color: hsl(0, 0%, 10%);
    margin-bottom: 5px;
}

.grupo-cadastro input[type="text"],
.grupo-cadastro input[type="email"],
.grupo-cadastro input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.grupo-cadastro input[type="checkbox"] {
    margin-right: 10px;
}

.grupo-cadastro input:focus {
    border-color: hsl(215, 78%, 36%);
    outline: none;
}

.botao-cadastro {
    background-color: hsl(48, 100%, 67%);
    color: hsl(0, 0%, 10%);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    align-self: center;
}

.botao-cadastro:hover {
    background-color: hsl(48, 100%, 72%);
    color: hsl(0, 0%, 0%);
}

/* Botão de voltar */

.voltar-ao-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 10%);
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
}

.voltar-ao-topo:hover {
    background-color: hsl(0, 0%, 90%);
}

/* Seção Sobre */
.sobre {
    padding: 50px 20px;
    background-color: hsl(206, 41%, 97%);
    text-align: center;
}

.sobre h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    color: hsl(215, 78%, 36%);
    margin-bottom: 20px;
}

.sobre p {
    font-size: 18px;
    color: hsl(0, 0%, 20%);
    line-height: 1.6;
    margin-bottom: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilização para Dúvidas Frequentes */
.duvidas {
    padding: 50px 20px;
    background-color:hsl(215, 78%, 36%);
    text-align: center;
}

.duvidas h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 30px;
}

.faq {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.faq details {
    background-color: hsl(215, 78%, 46%, 0.8);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    margin: 15px 0px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq details:hover {
    background-color: hsl(215, 78%, 51%, 0.8);
    transform: scale(1.02);
}

.faq summary {
    font-size: 20px;
    font-weight: bold;
    color: hsl(48, 100%, 67%);
    margin-bottom: 10px;
    outline: none;
}

.faq summary:hover {
    color: hsl(48, 100%, 72%);
}

.faq details[open] summary {
    color: hsl(48, 100%, 72%);
}

.faq details p {
    font-size: 16px;
    color: hsl(0, 0%, 90%);
    margin-top: 10px;
    line-height: 1.6;
    padding-left: 10px;
    padding-right: 10px;
}

/* Seção Planos para Empresas */
.planos {
    padding: 50px 20px;
    background-color: hsl(238, 69%, 22%);
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.planos h2 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.planos p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.planos ul {
    list-style-type: disc;
    margin: 20px auto;
    padding-left: 40px;
    max-width: 800px;
    text-align: left;
}

.planos ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: hsl(48, 100%, 67%);
}